BuyPolish/.idea
BuyPolish/Pola.xcworkspace/xcuserdata
BuyPolish/Pola.xcodeproj/xcuserdata
BuyPolish/Pods
BuyPolish/PolaUITests/FailureDiffs
BuyPolish/PolaUITests/SnapshotFailedTests
BuyPolish/fastlane/test_output
BuyPolish/fastlane/report.xml
node_modules
package-lock.json
vendor/bundle
.bundle
R.generated.swift
BuyPolish/build
.vscode
.DS_Store
