github "DaveWoodCom/XCGLogger" == 3.3
github "ReactiveX/RxSwift" == 2.5.0
github "Swinject/Swinject" == 1.1.1
github "matthewpalmer/Locksmith" == 2.0.8
github "dzenbot/DZNEmptyDataSet" == 1.8
github "Anviking/Decodable" == 0.4.2
github "joeldev/JLRoutes" == 1.6
github "Quick/Quick" == 0.9.2
github "Quick/Nimble" == 4.0.1
github "Haneke/HanekeSwift" == 0.10.1
github "SnapKit/SnapKit" == 0.21.0