github "DaveWoodCom/XCGLogger" == 3.3
github "ReactiveX/RxSwift" == 2.5.0
github "Swinject/Swinject" == 1.1.1
github "SwiftyJSON/SwiftyJSON" == 2.3.1
github "matthewpalmer/Locksmith" == 2.0.8
github "dzenbot/DZNEmptyDataSet" == 1.8
github "Anviking/Decodable" == 0.4.2
github "joeldev/JLRoutes" == 1.6