---
BasedOnStyle: LLVM
Standard: Cpp11
AlignTrailingComments: false
NamespaceIndentation: All
DerivePointerAlignment: false
AlwaysBreakBeforeMultilineStrings: false
AccessModifierOffset: 0
SortIncludes: true
ColumnLimit: 120
IndentWidth: 4
PointerAlignment: Right
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false
ReflowComments: false
SpacesBeforeTrailingComments: 1
PenaltyBreakComment: 0
SpacesInContainerLiterals: false
BreakBeforeBinaryOperators: NonAssignment
MaxEmptyLinesToKeep: 1
Cpp11BracedListStyle: false
---
Language: ObjC
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
---
Language: Cpp
---
