name: Snapshots

on: workflow_dispatch

jobs:
  record:
    name: Record snapshots for unit & ui tests
    runs-on: macos-10.15
    defaults:
      run:
        working-directory: BuyPolish

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 
          token: ${{ secrets.WORKFLOW_ACCESS_TOKEN_GITHUB }}
      - name: Cache bundler gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-
      - name: Cache pods
        uses: actions/cache@v2
        with:
          path: BuyPolish/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-
      - name: Bundler
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
      - name: Pod install
        run: bundle exec pod install
      - name: Record snapshots
        run: bundle exec fastlane record_snapshots
      - name: "Upload Tests results"
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: xcresult
          path: BuyPolish/fastlane/test_output
